html {
    width:100%;
    display:table;
}

body {
    background: #FF9800;
    background: linear-gradient(165deg, #FF80AB, #FFA726);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
    width:100%;
    display:table;
}

.container {
    flex: 1;
}

h1, h2, h3, h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

.branding {
    backface-visibility: hidden;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.content {
    backface-visibility: hidden;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}


.branding .logo {
    display: block;
    margin-left: auto;
    margin-top: 50px;
    margin-right: 310px;
    height: 140px;
    width: 140px;
    box-shadow: rgba(0, 0, 0, 0.55) 0 20px 68px;
    border-radius: 73px;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.logoT{
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.55) 0 20px 68px;
    border-radius: 73px;
}

.logoT h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.branding h1 {
    display: block;
    margin-left: auto;
    margin-right: 255px;
    font-size: 30px;
    width: 220px;
}

.branding h1 span {
    font-family: 'Roboto', sans-serif;
    position: center;
    font-size: 12px;
}

.description {
    font-size: 24px;
    margin: 20px 10px 20px 80px;
}

.libraries {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.libraries img {
    height: 80px;
    width: 80px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.55) 0 20px 68px;
    border-radius: 8px
}

.libraries p {
    margin: 10px;
}

.featured {
    margin-top: 20px;
    font-size: 24px;
    margin-left:190px;
}

.soundcloud {
 margin-left:110px
}

.soundcloud iframe {
    width:120%; 
    height:220px;
    box-shadow: rgba(0, 0, 0, 0.55) 0 20px 68px;
}

.actions {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.actions a, .actions button {
    margin: 10px;
    padding: 10px 25px;
}

.timeline {
    position: relative;
    margin: 5% 0;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.55) 0 20px 68px;
    width: 79%;
}

.footer {
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer .year {
    padding: 0 5px;
}

.footer a {
    color: red;
    margin: 0 0 0 5px;
    text-decoration: none;
}

@media (max-width: 1024px) {

    .branding .logo {
        margin-right: 270px;
    }

    .branding h1 {
        margin-right: 230px;
    }

    .description {
        text-align: center;
        margin-right: 20px;
        margin-left: 100px;
        font-size: 20px;
    }

    .featured {
        margin-top: 0px;
        font-size: 24px;
        margin-left:100px;
    }

    .soundcloud {
        width:77%;
        margin-left:20px;
        margin-right:80px;
    }

    .timeline {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .branding .logo {
        margin-right: 260px;
    }

    .branding h1 {
        margin-right: 220px;
    }

    .description {
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 20px;
    }

    .featured {
        margin-top: 0px;
        font-size: 24px;
        margin-left:100px;
    }

    .soundcloud {
        width:77%;
        margin-left:20px;
        margin-right:80px;
    }

    .timeline {
        width: 100%;
    }
}


@media (max-width: 767px) {

    .branding .logo {
        margin-right: 165px;
    }

    .branding h1 {
        margin-right: 120px;
    }

    .description {
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 20px;
    }

    .featured {
        margin-top: 20px;
        font-size: 24px;
        margin-left:125px;
    }

    .soundcloud {
        width:77%;
        margin-left:20px;
        margin-right:80px;
    }

    .timeline {
        width: 100%;
    }
}

@media (max-width: 433px) {

    .branding .logo {
        margin-right: 130px;
    }

    .branding h1 {
        margin-right: 80px;
    }

    .description {
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 20px;
    }

    .featured {
        margin-top: 20px;
        font-size: 24px;
        margin-left:125px;
    }

    .soundcloud {
        width:100%;
        margin-left:20px;
        margin-right:80px;
    }

    .timeline {
        width: 100%;
    }
}


/* Bootstrap override */
.form-control {
    border-color: #333;
}
.form-control:focus {
    border-color: #FF9800;
    box-shadow: 0 0 0 0.2rem rgba(255, 222, 36, 0.25);
}

@keyframes moveInLeft {
    
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(15px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-15px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
